.project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  border-radius: 15px;
  padding: 50px 0px;
  background-color: #202020;
  gap: 30px;
  @media screen and (max-width: 700px) {
    width: 100%;
    background-color: transparent;
  }
}

.project__image {
  width: auto;
  max-width: 100%;
  height: 500px;
  border-radius: 15px;
  object-fit: contain;
}

.project__name {
  width: 90%;
  font-size: 48px;
  font-weight: 500;
  @media screen and (max-width: 700px) {
    font-size: 32px;
  }
}

.project__description {
  width: 90%;
  font-size: 20px;
}

.project__creators {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  gap: 20px;
}

.project__resources {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  gap: 10px;
}

.resources__title {
  font-weight: 500;
  font-size: 24px;
}

.resource {
  width: 100%;
  font-size: 18px;
}

.project__coordinates {
  width: 90%;
  font-size: 18px;
  font-weight: 500;
}

.gallery {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  @media screen and (max-width: 700px) {
    padding: 0;
  }
}

.arrow {
  width: 50px;
  height: 50px;
  cursor: pointer;
  @media screen and (max-width: 700px) {
    display: none;
  }
}

.left {
  position: absolute;
  left: 20%;
}
.right {
  position: absolute;
  right: 20%;
}


.arrow_inactive {
  filter: brightness(50%);
}
