.header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 35px;
  backdrop-filter: blur(50px);
  z-index: 2;
  gap: 35%;
  @media screen and (max-width: 700px) {
    flex-wrap: wrap;
    padding: 40px 20px;
    gap: 20px;
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-decoration: none;
  @media screen and (max-width: 700px) {
    width: 100%;
  }
}

.logo__name {
  font-weight: 500;
  font-size: 32px;
  @media screen and (max-width: 700px) {
    font-size: 24px;
  }
}

.cube {
  width: 75px;
  height: 75px;
  @media screen and (max-width: 700px) {
    width: 50px;
    height: 50px;
  }
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  @media screen and (max-width: 700px) {
    width: 100%;
  }
}

.menu__link {
  font-size: 20px;
  @media screen and (max-width: 700px) {
    font-size: 18px;
  }
}

a {
  color: inherit;
}