@font-face {
  font-family: 'TTNormsPro';
  src: local('TTNormsPro'), url(./static/fonts/TTNormsPro-Regular.woff2) format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: TTNormsPro;
  src: local('TTNormsPro'), url(./static/fonts/TTNormsPro-Medium.woff2) format('woff2');
  font-weight: 500;
}

body {
  margin: 0;
  font-family: 'TTNormsPro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #17171b;
  color: #fafafa;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
